.aboutMainContainer {
  padding: 70px 0;
}

.sectionTitle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.bgcolor {
  background-color: #fafafa;
  color: #000;
  margin-top: 30px;
  padding: 30px;
}

.sectionTitle .left .tag {
  gap: 19.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18.23px;
  line-height: 21.21px;
  letter-spacing: 0.96px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
  /* padding-top: 1rem; */
}

.sectionTitle .left .tag hr {
  opacity: 1;
  width: 77.13px;
  border: 1.45px solid #0d0d0d;
}

.sectionTitle .left h2 {
  font-size: 60px;
  line-height: 69.41px;
  letter-spacing: 3.09px;
  color: #0d0d0d;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
}

.sectionTitle .right a {
  font-size: 16.4px;
  line-height: 19.28px;
  color: #0d0d0d;
  padding-bottom: 13.97px;
  border-bottom: 1.93px solid #cfcfcf;
  text-transform: uppercase;
  letter-spacing: 0.87px;
  font-weight: 500;
}


.imgdata1 {
  position: relative;
}

.imgdata1 img {

  width: 100%;
  height: 800px;
  object-fit: cover;
}

.imgdata1 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  position: relative;
}

.imgdata1 img {
  filter: grayscale(1);
  transition: 0.4s ease-in-out;
}

.imgdata1 img:hover,
.imgdata1 img.in-view {

  cursor: pointer;
  transform: scale(1.2);
  filter: grayscale(0);
}

.imgdata2 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  position: relative;
}

.imgdata2 img {
  filter: grayscale(1);
  transition: 0.4s ease-in-out;
}

.imgdata2 img:hover,
.imgdata2 img.in-view {
  cursor: pointer;
  transform: scale(1.2);
  filter: grayscale(0);
}

.imgdata2 {
  position: relative;

}

.imgdata2 img {
  width: 100%;
  height: 390px;
  object-fit: cover;

}

.overlay h5 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  /* opacity: 0; */
}

.overlay1 h5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  text-align: center;
  /* opacity: 0; */
}

@media only screen and (max-width: 1400px) {
  .aboutMainContainer {
    padding: 110px 0;
  }

  .sectionTitle .left .tag {
    font-size: 15.23px;
    line-height: 16px;
    padding-bottom: 15px;
  }

  .sectionTitle .left .tag hr {
    width: 50.13px;
  }

  .sectionTitle .left h2 {
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 1.8px;
  }

  .sectionTitle .right a {
    font-size: 13px;
    line-height: 15.28px;
    padding-bottom: 6.97px;
    letter-spacing: 0.5px;
  }


}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {
  .sectionTitle .left .tag {
    padding-bottom: 10px;
  }

  .sectionTitle .left h2 {
    font-size: 33px;
    line-height: 44px;
  }


}

@media only screen and (max-width: 768px) {
  .aboutMainContainer {
    padding: 80px 0;
  }

  .sectionTitle {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }



  .mb {
    margin-top: 15px;
  }

  .imgdata1 {
    position: relative;
  }

  .imgdata1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .imgdata1 img:hover,
  .imgdata1 img.in-view {
    transform: none;
    filter: grayscale(1);
    cursor: default;
  }

}

@media only screen and (max-width: 521px) {
  .sectionTitle .left h2 br {
    display: none;
  }

  .sectionTitle .left h2 {
    font-size: 26px;
    line-height: 37px;
  }
}

@media only screen and (max-width: 500px) {


  .imgdata1 img {

    width: 100%;
    height: 400px;
    object-fit: cover;
  }


}



/* ================================================================ */