.button {
  font-weight: 400;
  border: 1px solid transparent;
  padding: 23.4px 25.05px;
  font-size: 12.5px;
  line-height: 14.4px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .button {
    padding: 19.4px;
  }
}

.button:hover {
  text-decoration: none;
}

.primary {
  color: #fff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}

.primary:hover {
  color: #fff;
  background-color: #3b3b3b;
  border-color: #0d0d0d;
}

.secondary {
  color: #000;
  background-color: #ffffff;
}

.secondary:hover {
  color: #fff!important;
  background-color: #000000;
  border-color: #4e555b;
}

.outline {
  color: #000;
  background-color: transparent;
  border: 1px solid #0d0d0d;
}

.outline:hover {
  background-color: transparent;
  border-color: #0d0d0d;
}

.marginTop {
  margin-top: 10px;
}
/* @media screen and (min-width: 1400px) {

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 576px) and (max-width: 768px) {

} */

@media (max-width: 576px) {
  .button {
    padding: 10px;
  }
}
