.getInMain {
  padding: 500px 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100%;
  position: relative;
  background-image: url("../../public/getBg.jpg");
}

.getInMain::before {
  content: "";
  z-index: 9;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.getInMain .getInItems {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 98;
  color: #ffffff;
}

.getInMain .getInItems .content {
  text-align: center;
}

.getInMain .getInItems .content h2 {
  font-size: 59.13px;
  line-height: 72px;
  letter-spacing: 3.2px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.getInMain .getInItems .content p {
  font-size: 16.88px;
  line-height: 30.01px;
  font-weight: 300;
  margin-bottom: 0;
}

.getInMain .getInItems .content .btnContainer {
  padding-top: 45px;
  text-align: center;
}

.getInMain .getInItems .content .btnContainer a {
  padding: 20px 35px;
  font-size: 16.73px;
  line-height: 20px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.5s ease-in-out;
  color: #0d0d0d;
  background-color: #ffffff;
}

.getInMain .getInItems .content .btnContainer a:hover {
  background-color: #b6b6b6;
}

@media only screen and (max-width: 1400px) {
  .getInMain {
    padding: 300px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .getInMain {
    padding: 250px 0;
  }

  .getInMain .getInItems .content h2 {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 1.2px;
  }
}

@media only screen and (max-width: 992px) {
  .getInMain {
    padding: 190px 0;
  }

  .getInMain .getInItems .content h2 {
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }

  .getInMain .getInItems .content p {
    font-size: 14.88px;
    line-height: 26.01px;
  }

  .getInMain .getInItems .content .btnContainer a {
    padding: 20px;
    font-size: 12.73px;
  }
}

@media only screen and (max-width: 768px) {
  .getInMain {
    padding: 90px 0;
  }

  .getInMain .getInItems .content h2 {
    font-size: 30px;
    line-height: 41px;
  }

  .getInMain .getInItems .content h2 br {
    display: none;
  }

  .getInMain .getInItems .content p {
    font-size: 14.88px;
    line-height: 26.01px;
  }

  .getInMain .getInItems .content p br {
    display: none;
  }
}
