.getInTouch {
  padding: 84.05px 0 70px 0;
}

.getInTouch_MapContainer {
  margin: 60px 61px 80px 61px;
}

.mapContainer {
  overflow: hidden;
  resize: none;
  max-width: 100%;
  width: 100%;
  height: 380px;
}

.mapIframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.mapItems {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.getInTouch_detail {
  gap: 32px;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
}

.getInTouch_detail li h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #323539;
  margin-bottom: 16px;
}

.getInTouch_detail li p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323539;
  margin-bottom: 8px;
}

.getInTouch_detail li a {
  gap: 6px;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color: #616161;
  line-height: 22px;
  align-items: center;
}

.getInTouch_detail .socialIconContainer {
  display: flex;
}

.getInTouch_detail li a img {
  filter: grayscale(1);
  transition: 0.4s ease-in-out;
}

.getInTouch_detail li a img:hover {
  filter: grayscale(0);
}

.getInTouchFormContainer {
  margin: 0 61px;
  background-color: #fafafa;
  padding: 36.63px 44px 36.47px 45px;
}

@media only screen and (max-width: 991px) {
  .getInTouchFormContainer {
    margin: 40px 0 0 0;
    padding: 30px;
  }
}

.getInTouchFormContainer .tittle {
  font-size: 32px;
  line-height: 38.4px;
  font-weight: 700;
  color: #2d2f30;
  margin-bottom: 0;
  text-transform: capitalize;
}

.getInTouchFormContainer input[type="file"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
  width: 0;
}

.fileInput {
  visibility: hidden;
  position: absolute;
  width: 0 !important;
}

@media only screen and (max-width: 991px) {
  .getInTouchFormContainer .tittle {
    font-size: 22px;
    line-height: 24.4px;
  }
}

.getInTouchFormContainer form {
  overflow: hidden;
  margin-top: 23px;
}

.getInTouchFormContainer form input,
.getInTouchFormContainer form select {
  width: 100%;
  outline: none;
  border: none;
  padding: 24px;
  font-size: 18.32px;
  line-height: 21.98px;
  color: #666666;
  background-color: #ffffff;
}

.cusRowCon {
  display: flex;
  
  
}

@media only screen and (max-width: 991px) {
  .getInTouch_MapContainer {
    margin: 40px 0 40px 0;
  }
  .getInTouchFormContainer form input,
  .getInTouchFormContainer form select {
    padding: 14px;
    font-size: 14.32px;
  }

  .cusRowCon {
    flex-direction: column;
    gap: 30px;
  }

  .mapMainCol_container {
    width: 100%;
  }

  .getInTouch_detail {
    gap: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .getInTouch_detail li h4 {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .getInTouch_detail li p {
    font-size: 15px;
    line-height: 23px;
  }
}

.fileInput {
  visibility: hidden;
  position: absolute;
  width: 0 !important;
}

.getInTouchFormContainer form .file label {
  width: 100%;
  padding: 20px 30px;
  font-size: 19px;
  line-height: 28.6px;
  color: #2d2f30;
  cursor: pointer;
  font-weight: 700;
  width: fit-content;
  background-color: #ffffff;
}

.getInTouchFormContainer form .fileLabel {
  outline: none;
  border: none;
  width: 100%;
}

.getInTouchFormContainer form input[type="submit"] {
  width: 209.24px !important;
  background-color: #181818 !important;
  color: #ffffff !important;
}

@media only screen and (max-width: 991px) {
  .getInTouchFormContainer form .file label {
    padding: 14px;
    font-size: 16px;
    line-height: 24.4px;
  }

  .getInTouchFormContainer form .submit_btn input[type="submit"] {
    width: 100% !important;
  }

  .cusRow {
    gap: 15px !important;
  }
}

.getInTouchFormContainer form .submit_btn {
  margin-top: 40px;
}
