/* Carousel media container, ensuring full-screen view */


.carousel_video,
.carousel_image {
  object-fit: cover;
  width: 100%;
  height: 50%;
}


.carousel_media_container .carousel_image {
  object-fit: cover;
  width: 100%;
  height: 90vh;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {

  .carousel_video,
  .carousel_image {
    object-fit: cover;
    width: 100%;
    /* height: 50vh; */
    /* Make video/image cover 50% of the viewport height */
  }

  .carousel_media_container .carousel_image {
    object-fit: cover;
    width: 100%;
    height: 50%;
  }

  .carousel_caption h3 {
    font-size: 1.2rem;
    /* Smaller text for mobile */
  }

  .responsive_heading {
    font-size: 1.5rem;
    /* Responsive text for smaller screens */
  }
}

@media (max-width: 1024px) {


  .carousel_video,
  .carousel_image {
    object-fit: cover;
    width: 100%;
    /* height: 50vh; */
    /* Make video/image cover 50% of the viewport height */
  }

  .carousel_caption h3 {
    font-size: 1.2rem;
    /* Smaller text for mobile */
  }

  .responsive_heading {
    font-size: 1.5rem;
    /* Responsive text for smaller screens */
  }
}