/* Add this CSS */
.heroSection {
  position: relative;
  height: 100vh;

  overflow: hidden;
}

.stickySection {
  position: sticky;
  top: 0;
  height: 100vh;
}

.overflowXCustom {
  height: 100%;
}

.fixedText {
  position: fixed;
  top: 200px; /* Adjust as needed */
}
.fixedImage {
  position: fixed;
  top: 100px; /* Adjust as needed */
}
.fixedCircularImage {
  position: fixed;
  bottom: 0; /* Adjust as needed */
  right: 20px;
  z-index: 9999;
}
.bg {
  background: #ededed;
  /* z-index: -2; */
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.flex {
  display: flex;
}

.height {
  width: 50%;
}

.width50 {
  width: 50%;
}

.width100 {
  width: 100%;
}
.social_media_icons {
  position: fixed;
  right: 0%;
  top: 43.6%;
  z-index: 1;
}
.socialIcons_111 {
  text-align: center;
  list-style: none;
  padding-top: 15px;
  align-items: flex-end;
}
.social_facebook {
  background-color: #000;
  padding: 10px;
}
.social_instagram {
  background-color: #666;
  padding: 10px;
}
.social_youtube {
  background-color: #000;
  padding: 10px;
}
.social_linked {
  background-color: #666;
  padding: 10px;
}

.content_with {
  width: 100%;
}
/* */

.bannerDesignLine:nth-child(1) {
  position: absolute;
  width: 1px;
  height: 111vh;
  top: 0;
  left: 9.5%;
  background-color: #dadada;
}

.bannerDesignLine:nth-child(2) {
  position: absolute;
  width: 1px;
  height: 111vh;
  top: 0;
  left: 29.3%;
  background-color: #dadada;
}

.bannerDesignLine:nth-child(3) {
  position: absolute;
  width: 1px;
  height: 111vh;
  top: 0;
  left: 49.3%;
  background-color: #dadada;
}

.bannerDesignLine:nth-child(4) {
  position: absolute;
  width: 1px;
  height: 111vh;
  top: 0;
  left: 69.3%;
  background-color: #dadada;
}

.bannerDesignLine:nth-child(5) {
  position: absolute;
  width: 1px;
  height: 111vh;
  top: 0;
  left: 89.3%;
  background-color: #dadada;
}

.starDiv {
  padding: 30px 0 25px 0px !important;
}
.rotate {
  animation: rotate 10s linear infinite; /* Adjust the duration as needed */
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.centerImg {
  max-width: 300px;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.centerImgFade {
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 493px;
  border-radius: 50%;
}

/* .textDiv {
  display: flex;
  
  z-index
} */

.banner_items {
  position: relative;
  z-index: 98;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textDiv h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000;
}
.desktopGaping {
  margin-top: 15px;
}
.linkStyling {
  color: #000;
}
@media only screen and (max-width: 1400px) {
  .textDiv h1 {
    font-size: 25px;
    line-height: 35px;
  }
  .textDiv figure img {
    width: 51px;
    object-fit: contain;
  }
  .Lorem {
    width: 310px !important;
    font-weight: 300;
    font-size: 14px;
    line-height: 26.01px;
    margin: 20px 0 20.98px;
  }
}

@media only screen and (max-width: 1200px) {
  .banner_items {
    justify-content: unset;
  }
  .textDiv h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 800;
  }
  .textOutline {
    -webkit-text-stroke: 2px #000;
  }
}

@media only screen and (max-width: 992px) {
  .textDiv h1 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }

  .header {
    justify-content: center;
  }

  .header .line {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .starDiv {
    margin-top: 80px;
  }

  .rotate {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    animation: rotate 10s linear infinite;
  }
  .centerImg {
    position: absolute;
    top: -60%;
    left: 55%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    /* height: 100%; */
    border-radius: 100%;
  }
  .heroSection {
    position: relative;
    height: 40vh;

    overflow: hidden;
  }
  .textDiv {
    margin-left: 20px;
  }
  .textDiv h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .social_media_icons {
    position: fixed;
    right: 0%;
    top: 40%;
    z-index: 1;
  }
  .socialIcons_111 {
    text-align: center;
    list-style: none;
    padding-top: 10px;
    align-items: flex-end;
  }
  .social_facebook {
    background-color: #000;
    padding: 4px;
  }
  .social_instagram {
    background-color: #666;
    padding: 4px;
  }
  .social_youtube {
    background-color: #000;
    padding: 4px;
  }
  .social_linked {
    background-color: #666;
    padding: 4px;
  }
}

@media only screen and (max-width: 470px) {
  .textDiv h1 {
    font-size: 20px;
    line-height: 45px;
    margin-top: 4rem;
  }
  .videoIcon {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  .overflowXCustom {
    height: 111vh;
    overflow-x: hidden !important;
    overflow-y: hidden;
    margin-top: -140px;
  }
  .cirleimg img {
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    top: -90%;
    left: 50%;
  }
}
.cirleimg img {
  position: absolute;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  top: -90%;
  left: 50%;
}
@media only screen and (max-width: 374px) {
  .cirleimg img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 10%;
    left: 60%;
  }
  /* .starDiv {
    margin-top: 80px;
  }

  .rotate {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    animation: rotate 10s linear infinite;
  }
  .centerImg {
    position: absolute;
    top: -60%;
    left: 55%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 100%;
    border-radius: 100%;
  } */
  .textDiv h1 {
    line-height: 34px;
  }
  .overflowXCustom {
    height: 111vh;
    overflow-x: hidden !important;
    overflow-y: hidden;
    margin-top: -110px;
  }
}

/* .imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.textStroke {
  color: #000;
  font-size: 87px;
  letter-spacing: 0.6rem;
}

.textOutline {
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 4px #000;
  font-family: sans-serif;
}

@media only screen and (max-width: 1200px) {
  .textOutline {
    -webkit-text-stroke: 3px #000;
  }
}

.bannerIcon {
  display: flex;
  align-items: center;
  gap: 10.49px;
  color: #000;
}

@media only screen and (max-width: 1200px) {
  .bannerIcon {
    gap: 25px;
  }
  .bannerIcon img {
    width: 55px;
  }
}

@media only screen and (max-width: 992px) {
  .bannerIcon img {
    width: 39px;
  }
}

@media only screen and (max-width: 768px) {
  .content_with {
    width: auto;
  }
  .textOutline {
    -webkit-text-stroke: 2px #000 !important;
  }
  .bannerIcon {
    gap: 15px;
  }
  .bannerIcon img {
    width: 28px;
  }

  /* .centerImgFade {
    display: none;
  } */
}

@media only screen and (max-width: 470px) {
  .cirleimg img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 10%;
    left: 60%;
  }
  .bannerIcon img {
    width: 20px;
  }

  .bg {
    height: 100%;
    min-height: 100%;
  }

  .textOutline {
    -webkit-text-stroke: 1px #000 !important;
  }
}

.textDiv figure {
  display: contents;
  width: 50.99px;
  height: 50.99px;
  overflow: hidden;
  margin-left: 37.49px;
}

.textDiv figure img {
  width: 20px;
  object-fit: contain;
}

.Lorem {
  width: 395px;
  font-weight: 300;
  font-size: 14px;
  line-height: 26.01px;
  margin: 20px 0 20.98px;
}

@media only screen and (max-width: 1200px) {
  .Lorem {
    margin: 25px 0 35.98px;
  }
}
.banner_btn {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .Lorem {
    width: 100%;
    margin: 10px 0 20px 0;
  }

  .Lorem br {
    display: none;
  }
  /* .textDiv {
    text-align: center;
  }
  .banner_btm {
    margin-top: 30px;
    
  }
  .banner_btn {
    display: block;
    gap: 20px;
  }
  .broService {
    
    margin-top: 20px;
    display: block;
  } */
}

@media only screen and (max-width: 374px) {
  .cirleimg img {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 10%;
    left: 60%;
  }
  .Lorem {
    line-height: 22px;
    text-align: justify;
  }
}

/* @media only screen and (max-width: 352px) {
  .banner_btn {
    gap: 20px;
  }
} */

/* .buttonsDiv {
  display: flex;
  justify-content: space-between;
  width: 367px;
  padding-bottom: 30px;
} */

/* .btn1 {
  padding: 23.4px 25.05px;
  background: #ffff;
  color: #000;
  font-size: 14px;
  outline: none;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn2 {
  padding: 5px 10px;
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  cursor: pointer;
} */

.Fignal_ButtonImg {
  position: absolute;
  bottom: 20px;
  right: 90px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0;
}

.postfolioHeaderTop {
  margin-top: 180px;
}

.line {
  width: 70px;
  height: 2px;
  background-color: black;
  margin-right: 20px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.subText {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
  text-transform: uppercase;
  font-weight: 500;
  width: fit-content;
  line-height: 18px;
}

/* components/ArticleCard.module.css */
.cardImage {
  width: 98%;
  height: 250px;
  object-fit: cover;
}

.cardImageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.cardPadding {
  padding: 10px 30px;
}

.cardButtonDesc {
  width: 70%;
  margin-inline: auto;
  padding: 10px 30px;
  margin-top: -25px;
  z-index: 10;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #ffffff;
}

.centerLine {
  width: -webkit-fill-available;
  height: 1px;
  background-color: #cfcfcf;
  margin-right: 100px;
  margin-left: 100px;
}

.sideLine {
  width: -webkit-fill-available;
  height: 2px;
  background-color: #cfcfcf;
  margin-right: 100px;
  margin-left: 50px;
}

.cardCategoryDate {
  display: flex;
  font-size: 17px;
  color: #757575;
  align-items: center;
  margin-top: 15px;
}
.cardTitle {
  line-height: 34.01px;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 500;
}
.lineGrey {
  width: 40px;
  height: 1px;
  background-color: #cfcfcf;
  margin-right: 10px;
  margin-left: 10px;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fs58 {
  font-size: 48px;
}
.fw300 {
  font-weight: 300;
}

.fw600 {
  font-weight: 600;
}

.fs18 {
  font-size: 18px;
}
.fs12 {
  font-size: 12px;
}
.fs16 {
  font-size: 16px;
}

.fs26 {
  font-size: 26px;
}

.paddingBottomAbout {
  padding-bottom: 40px;
}

.marginBottom {
  margin-bottom: 40px;
}

.marginTop {
  margin-top: 40px;
}

.marginNagative {
  margin-top: -60px;
}

.whiteSpace {
  white-space: nowrap;
}

.marginLeftRight {
  margin-left: 10px;
  margin-right: 10px;
}

.text_align_center {
  text-align: center;
}

.fontSizeStyle {
  line-height: 72px;
  letter-spacing: 3.2px;
  font-size: 48px;
}

.contactSection {
  position: relative;
  width: 100%;
  background-image: url("../../public/touch.png");
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 656px;
  padding: 250px 0 200px 0;
}

.contentData {
  position: relative;
  z-index: 1;
  max-width: 920px;
  padding: 20px;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}

.blogImage {
  width: 100%;
  display: block;
}

.imageContainer:hover .image {
  filter: grayscale(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.imageHightLarge {
  height: 815px;
}

.imageHightLarge600 {
  height: 500px;
}

.imageHightSmall {
  height: 400px;
}

.imageHight600 {
  height: 600px;
}

.mtTopCustom {
  margin-top: 12px;
}
.pdCustomOverall {
  padding-top: 40px;
  padding-bottom: 15px;
}
.uppercase {
  text-transform: uppercase;
}

.serviceHeading {
  font-size: 60px;
  width: 50%;
  margin: auto;
  font-weight: 500;
  font-family: "inter", sans-serif;
}

.textStylingLine {
  font-size: 18px;
  font-weight: 500;
}

.lineLeft {
  width: 50px;
  height: 2px;
  background-color: black;
  margin-bottom: 15px;
  margin-right: 15px;
}
.lineRight {
  width: 50px;
  height: 2px;
  background-color: black;
  margin-bottom: 15px;
  margin-left: 15px;
}
.overflowXCustom {
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: hidden;
}
.colorWhite {
  color: #fff;
}
.gap20 {
  gap: 20px;
}
.marginHeroTop {
  margin-top: 30px;
  margin-left: 20px;
}
.marginHeroTop Button {
  padding: 15px 20px;
}
.serviceButton {
  padding: 15px 20px;
  color: white;
  background-color: #000;
}
.customCard {
  border: 1px solid #cfcfcf;
  padding: 40px 25px 22px 25px;
  margin-left: 20px;
  height: 100%;
}

.customCard img {
  height: 73px;
  width: 73px;
}

.customCard h2 {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 400;
  line-height: 29px;
}

.customCard p {
  margin-top: 1rem;
  font-size: 12px;
  font-size: 300;
  color: #595959;
}

.mtTopCustomOne {
  margin-top: 30px;
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
}
.mtBottomCustomOne {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.seviceButton {
  color: #fafafa;
  background-color: #0d0d0d;
  padding: 18px;
  text-transform: uppercase;
}

/* ===== */

.bgSetting {
  position: relative;
  background: #000;
  bottom: 20px;
  height: 100vh;
  /* z-index: -1; */
  margin-top: -325px;
}
/* styles/home.module.css */
.videoFrame {
  position: absolute;
  bottom: 80px;
  right: 7%;
  width: 141px;
  height: 141px; /* Make width and height equal for a perfect circle */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999999;
}

.videoFrame .videoImg {
  width: 100%;
  height: 90%;
  position: absolute;
  inset: 0px;
  animation: rotateInfinite 24s linear infinite;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  /* .textDiv {
    align-items: center;
    margin-top: 200px;
  } */
  .videoFrame {
    display: none;
  }
  .textDiv figure img {
    width: 23px;
    object-fit: contain;
  }
}

.scale:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.gap20 {
  gap: 20px;
}

.backgroundColor {
  background-color: #fafafa;
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .marginTopSm {
    margin-top: 1rem;
  }

  .imageHightLarge {
    height: 400px !important;
  }

  .imageHight600 {
    height: 400px !important;
    background-size: cover;
    background-position: center;
  }

  .phoneGap {
    gap: 40px;
    justify-content: center;
  }

  .col_md_4 {
    width: 46.333%;
  }

  .marginNagative {
    margin-top: 0;
  }

  .content {
    position: relative;
    z-index: 1;
    max-width: 656px;
    padding: 200px 0 150px 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .marginTopSm {
    margin-top: 1.5rem;
  }

  .imageHightLarge {
    height: 400px !important;
  }

  .flex {
    display: block;
  }

  .marginTopSm {
    margin-top: 1rem;
  }

  .imageHight600 {
    height: 350px !important;
    background-size: cover;
    background-position: center;
  }

  .phoneGap {
    gap: 40px;
    justify-content: center;
  }

  .marginNagative {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .textStroke {
    color: #000;
    font-size: 30px;
    letter-spacing: 0.6rem;
  }

  .pdCustomOverall {
    padding-top: 40px;
  }

  .marginTopSm {
    margin-top: 1rem;
  }

  .imageHightLarge {
    height: 400px !important;
  }

  .flex {
    display: block;
  }

  .fs58 {
    font-size: 36px;
  }

  .marginLeftRight {
    margin-left: 0;
    margin-right: 0;
  }

  .sideLine {
    margin-left: 10px;
    margin-right: 0;
  }

  .imageHight600 {
    height: 300px !important;
    background-size: cover;
    background-position: center;
  }

  .phoneGap {
    gap: 40px;
  }

  .imageGap {
    margin-top: 1rem;
  }

  .content {
    padding: 100px 20px 70px 20px;
  }

  .fs12 {
    font-size: 14px;
  }

  .fontSizeStyle {
    line-height: 40px;
    letter-spacing: 1.5px;
    font-size: 36px;
  }

  .line {
    width: 20px;
  }

  .text {
    font-size: 14px;
  }

  .subText {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    text-transform: uppercase;
    font-weight: 500;
    width: fit-content;
    line-height: 18px;
    font-size: 14px;
    /* margin-bottom: 35px; */
  }

  /* .fs58 {
    font-size: 18px;
  } */

  /* .fs18 {
    font-size: 14px;
  } */

  .cardTitle {
    margin-bottom: 0px;
  }

  .postfolioHeaderTop {
    margin-top: 55px;
  }

  .header {
    margin-bottom: 10px;
  }

  .mtBottomCustomOne {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
    margin-bottom: 15px;
  }

  .imageContainer .image {
    filter: grayscale(0%);
  }

  .marginNagative {
    margin-top: 0;
  }
}

@media only screen and (max-width: 380px) {
  .uppercase br {
    display: none;
  }
}

.inline1 {
  display: inline-block;
  margin-top: -150px;
  margin-left: 100px;
}

.videoOverlay {
  width: 100%;
  height: 739.94px;
}

.videoOverlay img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 992px) {
  .fs58 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .fs58 {
    font-size: 31px;
  }
}

.bloSectionMainCon {
  padding: 110px 0;
}

.bloSectionItems {
  padding-top: 56px;
}

.servicesMainContiner {
  padding: 100px 0;
}

@media only screen and (max-width: 992px) {
  .bg {
    height: fit-content;
  }
  .bloSectionMainCon {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 768px) {
  .servicesMainContiner {
    padding: 80px 0;
  }
}

@media only screen and (max-width: 575px) {
  .bloSectionMainCon {
    padding: 50px 0;
  }
}

.galleryMainContainer {
  padding: 100px 0;
}

@media only screen and (max-width: 768px) {
  .galleryMainContainer {
    padding: 80px 0;
  }
}
