.tag {
  gap: 20px;
  display: flex;
  padding-bottom: 30px;
  align-items: center;
}

.tag hr {
  margin: 0;
  opacity: 1;
  width: 140px;
  border: 2px solid #ffffff;
}

.tag p {
  font-size: 19.06px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.innerItems h2 {
  font-size: 62px;
  line-height: 88.01px;
  letter-spacing: 3.8px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .tag {
    padding-bottom: 10px;
  }

  .tag hr {
    width: 100px;
  }

  .tag p {
    font-size: 16.06px;
    line-height: 17px;
  }

  .innerItems h2 {
    font-size: 50px;
    line-height: 70.01px;
    letter-spacing: 2.8px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .innerItems h2 {
    font-size: 33px;
    line-height: 48.01px;
    letter-spacing: 0.8px;
  }
}

@media only screen and (max-width: 575px) {
  .innerItems h2 br {
    display: none;
  }
}
