.aboutServiceMainContainer {
  padding: 110px 0;
}
.pStyling {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #595959;
  padding-bottom: 30px;
  text-align: justify;
}

.ServiceBox {
  /* padding: 35px; */
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.gaping {
  gap: 20px;
}
.btnContainer {
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
}
.btnContainer a {
  font-size: 16.73px;
  line-height: 20px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.5s ease-in-out;
  color: #0d0d0d;
}
.imgSize {
  width: 100%;
  height: auto;
}
/* .displayprop {
  display: flex;
} */
.aboutServiceItems {
  gap: 53px;
  display: flex;
  align-items: center;
}

.aboutServiceItems .left {
  width: 100%;
  max-width: calc(100% - 60%);
}

.aboutServiceItems .right {
  width: 100%;
  max-width: calc(100% - 40%);
}

.aboutServiceItems .left figure {
  width: 100%;
  height: 609px;
  overflow: hidden;
  margin-bottom: 0;
}

.aboutServiceItems .left figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutServiceItems .right .content .tag {
  gap: 15.87px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 18.23px;
  line-height: 21.21px;
  letter-spacing: 0.96px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 23px;
}

.aboutServiceItems .right .content .tag .tagLine {
  width: 77.13px;
  opacity: 1;
  border: 1.45px solid #0d0d0d;
}

.aboutServiceItems .right .content h2 {
  color: #0d0d0d;
  font-size: 58.45px;
  line-height: 69.41px;
  letter-spacing: 3.09px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 23px;
}

.aboutServiceItems .right .content .descrip p {
  font-size: 19.42px;
  line-height: 31.55px;
  font-weight: 300;
  color: #666666;
  padding-bottom: 35px;
  margin-bottom: 0;
}

.aboutServiceItems .right .content .descrip ul {
  padding-left: 32px !important;
}

.aboutServiceItems .right .content .descrip ul li {
  font-size: 19.42px;
  line-height: 31.55px;
  font-weight: 300;
  color: #666666;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1400px) {
  .aboutServiceItems .right .content h2 {
    font-size: 42px;
    line-height: 50.41px;
  }

  .aboutServiceItems .right .content .descrip p {
    font-size: 16px;
    line-height: 24.41px;
    padding-bottom: 25px;
  }

  .aboutServiceItems .right .content .descrip ul li {
    font-size: 16px;
    line-height: 24.41px;
  }
}

@media only screen and (max-width: 992px) {
  .aboutServiceItems {
    gap: 40px;
    flex-direction: column;
  }

  .aboutServiceItems .left,
  .aboutServiceItems .right {
    max-width: 100%;
  }
  .aboutServiceItems .left figure {
    height: 360px;
  }
}
@media only screen and (max-width: 540px) {
  .displayprop {
    display: block;
  }
  .paad {
    padding-left: 15px;
    padding-right: 15px;
  }
  .spacingFromTop {
    margin-top: 30px;
  }
  .equalSpacing {
    margin-top: 15px;
  }
  .gapss {
    margin-bottom: 2rem;
  }
}
