.specificationsContainer {
  padding: 2rem;
}
.specificationsContainerRow {
  padding-top: 7rem;
  padding-bottom: 4rem;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.projectTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.sectionTitle2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.left2 .h2 {
  font-size: 15px;
  font-weight: 600;
}

.imgclass img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.videoP {
  margin-top: 20px;
  margin-bottom: 1rem;
  line-height: 36px;
}
.sectionTitle2 .left2 .tag2 {
  gap: 19.28px;
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 18.23px;
  line-height: 21.21px;
  letter-spacing: 0.96px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 30.14px;
}

.sectionTitle2 .left2 .tag2 hr {
  opacity: 1;
  width: 77.13px;
  border: 1.45px solid #0d0d0d;
}
.spannn {
  margin-top: 0.4rem;
}

.sectionTitle2 .left2 h2 {
  font-size: 60px;
  line-height: 69.41px;
  letter-spacing: 3.09px;
  color: #0d0d0d;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: capitalize;
}

.specificationsTitle {
  font-size: 2rem;
  color: #0d0d0d;
  margin-bottom: 2rem;
}

.specificationsList {
  margin-top: 2rem;
  padding: 0;
}

.specificationItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.specificationItem span {
  font-size: 1.1rem;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .sectionTitle2 .left2 h2 {
    font-size: 36px;
    line-height: 48.41px;
    letter-spacing: 2.09px;
    color: #0d0d0d;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .reactPlayer {
    width: 100%;
  }
  .imgclass img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

/* Custom Styles for Projects Section */
.subText {
  font-size: 16px;
  color: #1f3d7a; /* Blue color for subtitle */
}
