.teamSliderMainContainer {
  padding: 88px 0 90px 0;
  background-color: #fafafa;
}

.teamSliderContainer .sliderDiv {
  gap: 10px;
}

.teamSliderMainContainer .sectionTitle {
  margin: 0 auto;
}

.teamSliderItems {
  padding-top: 70px;
}
.expert_card {
  position: relative;
  cursor: pointer;
}

.expert_card figure img {
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
}

.expert_card:hover img {
  border: 4px solid #181818;
}

.expert_card .detail_box {
  width: 100%;
  padding: 20px 10px;
  max-width: 271.81px;
  text-align: center;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 14px;
}

.expert_card .detail_box h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #181818;
  margin-bottom: 5px;
}

.expert_card .detail_boxhover h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}

.expert_card .detail_box .profile {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.expert_card .detail_boxhover .profile {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.expert_card .detail_box .descrip {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 0;
  cursor: pointer;
}

.expert_card .detail_boxhover .descrip {
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0;
  cursor: pointer;
}

.team_card {
  width: 100%;
  min-height: 410px;
  position: relative;
  cursor: pointer;
  /* max-width: calc(100% / 3); */
}

.team_card figure {
  width: 351.81px;
  height: 345.97px;
  overflow: hidden;
  margin: 0 auto;

  /* padding-right: 70px; */
}

.team_card figure img {
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
}

.team_card:hover img {
  border: 4px solid #181818;
}

.team_card .detail_box {
  width: 100%;
  padding: 20px 10px;
  max-width: 271.81px;
  text-align: center;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.team_card .detail_box h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #181818;
  margin-bottom: 5px;
}

.team_card .detail_boxhover h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}

.team_card .detail_box .profile {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.team_card .detail_boxhover .profile {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.team_card .detail_box .descrip {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
  margin-bottom: 0;
  cursor: pointer;
}

.team_card .detail_boxhover .descrip {
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 0;
  cursor: pointer;
}

/* .detail_box:hover .descrip {
  position: relative;
  opacity: 1;
} */

/* .team_card:hover .detail_box {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #181818;
  transform: translate(-50%, -50%);
}

.team_card:hover .detail_box .descrip {
  position: relative;
  opacity: 1;
} */

.team_card .detail_boxhover {
  width: 100%;
  max-width: 271.81px;
  text-align: center;
  top: 43%;
  left: 50%;
  padding: 20px 15px;
  position: absolute;
  /* border: 2px solid #181818; */
  transition: 0.4s ease-in-out;
  background-color: #181818ba;

  opacity: 0;
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
}

.team_card:hover .detail_box {
  display: none;
}

.team_card:hover .detail_boxhover {
  opacity: 1;
}
