.testimonial_main_container {
  padding: 80px 0 90px 0;
}

.sectionTittle {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  padding-bottom: 48.5px;
  justify-content: space-between;
}

/* Slider.module.css */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  height: 200px;
  width: 100%;
  margin: auto;
  /* overflow: hidden; */
  position: relative;
  /* width: auto; */
}

.slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 100%;
}

.sectionTittle h1 {
  width: 100%;
}

.sliderMain {
  display: flex;
  gap: 20px;
}

.testimonialViewer {
  display: flex;
  justify-content: flex-end;
}

.TestimonialSlider {
  width: 100%;
  max-width: 100%;
}

.testiCard {
  width: 100%;
  display: flex !important;
  align-items: center;
  max-width: 100%;
  justify-content: flex-end;
}

.TestimonialSlider .slideImg {
  width: 100%;
  height: 487.98px;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 56px;
}

.TestimonialSlider .slideImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testiCard {
  flex-direction: column;
  align-items: flex-start;
}

.testiCard .cardContent {
  display: flex;
  align-items: flex-start;
}

.testiCard .cardContent figure {
  width: 112px;
  height: 112px;
  overflow: hidden;
  margin-bottom: 0;
}

.testiCard .cardContent figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testiCard .cardContent .right h3 {
  font-weight: 400;
  font-size: 34.31px;
  line-height: 46.01px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.testiCard .cardContent .right p {
  font-weight: 300;
  font-size: 16.88px;
  line-height: 30.01px;
  margin-bottom: 0;
  text-align: justify;
}

.testiCard .cardContent .right h4 {
  gap: 20px;
  display: flex;
  align-items: center;
  font-size: 19.6px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  color: #0d0d0d;
  text-transform: uppercase;
}

.testiCard .cardContent .right h4 span {
  color: #595959;
}

.testiCard .cardContent .right h4 hr {
  width: 64px;
  border: 1.5px solid;
  border-color: #0d0d0d;
}

@media only screen and (max-width: 1400px) {
  .testiCard .cardContent figure {
    width: 85px;
    height: 85px;
  }
  .TestimonialSlider .slideImg {
    padding-bottom: 30px;
  }

  .testiCard .cardContent .right h3 {
    font-size: 27.31px;
    line-height: 36.01px;
    letter-spacing: 0.8px;
  }
  .testiCard .cardContent .right h4 {
    font-size: 12.6px;
  }

  .testiCard .cardContent .right h4 hr {
    width: 49px;
  }
}

@media only screen and (max-width: 1199px) {
  .TestimonialSlider .slideImg {
    height: 358px;
  }
  .testiCard .cardContent {
    gap: 20px;
  }

  .testiCard .cardContent figure {
    width: 80px;
    height: 80px;
  }
  .testiCard .cardContent .right h3 {
    font-weight: 400;
    font-size: 20.31px;
    line-height: 26.01px;
    letter-spacing: 1px;
  }

  .testiCard .cardContent .right p {
    font-size: 14px;
    line-height: 22px;
  }

  .testiCard .cardContent .right h4 {
    gap: 10px;
    font-size: 11px;
  }

  .testiCard .cardContent .right h4 hr {
    width: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .sectionTittle {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .testimonial_main_container {
    padding: 80px 0 100px 0;
  }

  .TestimonialSlider .slideImg {
    height: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .TestimonialSlider .slideImg {
    padding-bottom: 30px;
  }

  .testiCard .cardContent {
    flex-direction: column;
  }

  .testiCard .cardContent figure {
    width: 60px;
    height: 60px;
  }

  .testiCard .cardContent {
    gap: 5px;
  }

  .testiCard .cardContent .right h3 {
    font-size: 15.31px;
    line-height: 20.01px;
    margin-bottom: 2px;
  }

  .testiCard .cardContent .right p {
    font-size: 13px;
    line-height: 20px;
  }
}
